<link rel="stylesheet" type="text/css" href="css/review.css">
<section class="review-billboard">
	<div class="review-caption">
		<h1>{{title}}</h1>
		<p>We value your dining experience.</p>
		<hr>
	</div>
	{{!-- <div class="shadow"></div> --}}
	{{!-- </section> --}}

	<div class="review-service wrapper">

		{{!-- <button class="review-btn table" <a class="review-btn-text"
			onclick="document.getElementById('id02').style.display='block'" />
		Write a Review!
		</button> --}}

		<button type="button" class="review-btn table review-btn-text" <a
			onclick="document.getElementById('id02').style.display='block'" />
		Write a Review!
		</button>

		<!-- Rating Modal Content -->
		<div id="id02" class="modal face" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form class="modal-content animate" action="/addRating" method="POST">
				<span onclick="document.getElementById('id02').style.display='none'" class="review-close"
					title="Close Modal">&times;</span>
				{{!-- <div class="imgcontent">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> --}}

				<div class="review-modal-content">
					<h1>Review Form</h1>
					<p>Let us know what you think.</p>
					<hr>

					{{!-- <label for="comment"><b>Comment</b></label>
					<input type="text" placeholder="Your Experience" name="comment" required> --}}
					<div class="row form-group">
						<div class="col-1">
							<label for="comment" class="col-form-label"><b>Comment</b></label>

						</div>
						<div class="col">
							<textarea class="form-control" placeholder="Your Experience" name="comment"
								required></textarea>
						</div>
					</div>
					{{!-- <label for="stars"><b>Stars</b></label>
					<select id="inputState" name="stars" required>
						<option selected>5</option>
						<option>4</option>
						<option>3</option>
						<option>2</option>
						<option>1</option>
					</select> <br>
					<label>
					</label> --}}
					<div class="row form-group">
						<div class="col-1">
							<label for="stars"><b>Rating:</b></label>
						</div>
						<div class="col-2">
							<select class="form-control" id="inputState" name="stars" required>
								<option selected>5</option>
								<option>4</option>
								<option>3</option>
								<option>2</option>
								<option>1</option>
							</select>
						</div>
						<br>
					</div>
				</div>
				{{!-- <div class="review-	content" style="background-color:#f1f1f1">
					<button type="submit">Rate</button>
					<button type="button" onclick="document.getElementById('id02').style.display='none'"
						class="cancelbtn">Cancel</button>
				</div> --}}
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Rate</button>
					<button type="button" class="btn btn-secondary"
						onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</section>


<section>
	{{!-- Submitted User Comments --}}
	<div class="review-title" style="padding-top: 40px;">
		<h2>Restaurant Reviews</h2>
	</div>
	<div class="review-content">
		{{#if reviews}}
		{{#each reviews}}
		{{!-- <a id="modal-start" href="#myModal"><img class="dp" src="./img/user1.png"></a>
			<span> "The service is really good." </span>
			<br> --}}
		<div class="row review-comments">
			{{!-- RESPECTIVE IMG & USER NAME WILL BE PROPERLY IMPLEMENTED WHEN USERS ARE DISTINGUISHED BY SERVER--}}
			{{!-- <a id="modal-start" href="#myModal"><img class="dp" src="./img/user1.png"></a> --}}
			<div class="col-4 review-user-image">
				<a onclick="document.getElementById('id03').style.display='block'">
					<img class="review-dp" src="./img/user1.png">
				</a>
			</div>
			<div class="col review-user-comment">
				<h4 style="display: inline; color:black">"<i>{{this.comment}}</i>"</h4>
				<p><b>{{this.stars}}</b> Stars -User</p>
			</div>
			<br>
		</div>
		{{!-- </div> --}}
		{{/each}}
		{{else}}
		<div class="book review-wrapper">
			<h2 style="color:red">No Ratings Yet</h2>
		</div>
		{{/if}}
	</div>

	<!--Sample User Profile view through modal-->
	<div id="id03" class="modal">
		<span onclick="document.getElementById('id03').style.display='none'" class="close"
			title="Close Modal">&times;</span>

		<!-- Modal Content -->
		<form class="modal-content animate">
			<div class="review-content">
				<img class="modaldp" src="./img/user1.png">
				<h2>{{this.name}}</h2>
				<h4>"{{this.bio}}"</h4>
		</form>
	</div>
</section>

<!-- Dummy data section for awards -->
<section class="review-bottomReview">
	<div class="review-wrapper">
		<div class="review-title">
			<h2>Restaurant Awards</h2>
		</div>
		<div class="container">
			<div class="row review-awards justify-content-md-center">
				{{#each awards}}
				<div class="col-2">
					<img class="review-images" src="{{this.award}}">
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>

<script src="js/modal.js"></script>